<div class="container">
  <h1>Welcome to MMO Manager !</h1>
  <h2>
    The tool you need to manage your characters, dailies, weeklies, raids,
    parties on more on your MMOs.
  </h2>
  <h3>Now checkout compatible <a routerLink="/games">games...</a></h3>
</div>
