.container {
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 64px);
  h1,
  h2,
  h3 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
