<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/" routerLinkActive="active">
      MMO Manager
    </button>
    <button mat-button routerLink="/games" routerLinkActive="active">
      Games
    </button>
    <button mat-button routerLink="/characters" routerLinkActive="active">
      Characters
    </button>
  </mat-toolbar>
</p>
