<mat-sidenav-container>
  <mat-sidenav mode="side">Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <fse-header></fse-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
